{{!-- Previous/next page links - only displayed on page 2+ --}}
<div class="extra-pagination inner">
    {{pagination}}
</div>

{{!-- This is the post loop - each post will be output using this markup --}}
{{#foreach posts}}
<article class="{{post_class}} {{#link}}link-post{{/link}}">
    {{#if image}}
    <a href="{{#link}}{{theLink}}{{else}}{{url}}{{/link}}" rel="noopener" target="_blank">
        <img src="{{image}}" style="width: 33%; float: left; margin-right: 1em;">
    </a>
    {{/if}}
    <header class="post-header">
        <h2 class="post-title"><a href="{{#link}}{{theLink}}{{else}}{{url}}{{/link}}" {{#link}}rel="noopener" target="_blank"{{/link}}>{{title}}</a></h2>
    </header>
    <section class="post-excerpt">
        <p>{{excerpt words="26"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
    </section>
    <footer class="post-meta">
        {{#if author.image}}<img class="author-thumb" src="{{author.image}}" alt="{{author.name}}" nopin="nopin" />{{/if}}
        {{author}}
        {{tags prefix=" on "}}
        <a href="{{url}}">
            <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time>
        </a>
    </footer>
</article>
{{/foreach}}

{{!-- Previous/next page links - displayed on every page --}}
{{pagination}}
